body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;

}
.jumbotron {
	border: 2px solid dodgerblue;
	margin-top: 1em;
	padding: 0px auto 0px auto;

    padding-bottom: 30px;
    padding-top: 30px;

}

.jumbotron h1,
.jumbotron h1 .text-success,
.jumbotron .h1,
.jumbotron h1:hover ,
.jumbotron .h1:hover
{
  color: dodgerblue;
  font-size:3.5em;
}

.jumbotron img {
vertical-align:top;
float:left;
}
nav .navbar {
padding-bottom: 5px;
}

#ArekarImg {
float:left;
margin-right: 5px;
}

.carousel-caption {
    /*  position:absolute; */
padding-bottom: 0px; 
font-weight: 900;
text-align: center;
}
.carousel-indicators {
bottom: -5px;
}

#my-awards h4 {
	background-color: dodgerblue;
	padding: 0.5em;
}

.emboss {

    /*border-color: dodgerblue;
    border-width:4px;
    border-style:inset; */

    margin-top: 1em;
    margin-bottom: 1em;
}

.floatleft {
    display:inline-block;
    float:left;
    margin-right: 1em;
    margin-left: 1em;
    }
#awards_slider .item {
    position: relative;
}
#awards_slider .item .carousel-caption{
    position: absolute;
}
