ErrorDocument 404 /~vthilaga/VaniT59_Final/phpsite/404response.html


#Expiry for JavaScript, and image (JPEG, GIF, PNG)
#Got the javascript code from stack overflow
ExpiresActive On

ExpiresByType text/html "now plus 1 week"
ExpiresByType text/css "now plus 1 week"
ExpiresByType text/javascript "now plus 1 week"
ExpiresByType text/x-javascript "now plus 1 week"
ExpiresByType application/javascript "now plus 1 week" 
ExpiresByType application/x-javascript "now plus 1 week"
ExpiresByType image/jpeg "now plus 1 week"
ExpiresByType image/gif "now plus 1 week"
ExpiresByType image/png "now plus 1 week"

#compress all text types
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

